<div class="slides">
  <section>
    <h1>The Prodigy</h1>
    <p>A talk by Tenor Biel</p>
  </section>

  <section>
    <p>The first thing they ask me is:</p>
    <h1 class="fragment">What is <i>that?</i></h1>
    <p class="fragment">And I usually respond with:</p>
    <h3 class="fragment">"Oh that's computer code."</h3>
    <p class="fragment">And they're usually like:</p>
    <h3 class="fragment"><i>You know that kind of stuff?</i></h3>
    <p class="fragment">Well, yeah.</p>
  </section>
  <section>
    <p>Then there's the odd smirk they have on their face as they look at me.</p>
  </section>
  <section>
    <p>Sometimes they ask what I'm coding.</p>
    <p>And I try my best to tell them.</p>
    <br/>
    <p class="fragment">Other times they ask me where I learned it.</p>
    <p class="fragment"><i>"I taught myself."</i></p>
  </section>
  <section>
    <h3>Is there something wrong with <i>me</i>?</h3>
  </section>
  <section>
    <h4>Is there something wrong with</h4>
    <h2>knowing how to program?</h2>
  </section>
  <section>
    <h2>Am I some kind of threat?</h2>
  </section>
  <section>
    <p>Some of them eventually get paranoid, and give a short lecture about using my "powers" for good.</p>
    <br/>
    <p class="fragment">Others tell me I'm going to grow up and be the next Steve Jobs.</p>
  </section>
  <section>
    <h2>Oh no! He's writing a virus!</h2>
    <br/>
    <div class="fragment">
      <p>Because</p>
      <code data-trim>++++++++++[>++++++++++>+<<-]>++++.+>.</code>
      <p>is <i>totally</i> trojan horse</p>
    </div>
    <br/>
    <p class="fragment"><i>Seriously?</i></p>
  </section>
  <section>
    <h1>Leave me alone.</h1>
    <h2 class="fragment">Please.</h2>
  </section>
</div>

